.auto-text-dropdown-container{
  margin-left: 50px;
}

.auto-text-field {
  width: 300px;
  height: 40px;
}

#auto-text {
  width: 300px;
  height: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border:  1px solid lightgray;
}

ul {
  margin: 0px;
  margin-left: 3px;
  padding-left: 0px;
  border-top: none;
  border: 1px solid lightgray;
  width: 300px;
  position: absolute;
  list-style: none;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0px lightgray inset;
  -moz-box-shadow: 0 0 5px 0px lightgray inset;
}

li {
  height: 30px;
  align-items: center;
}

li:hover {
  background-color: lightgrey;
}

li > label {
  font-size: 14px;
}